Package: check-lock-web
Version: 1.0
Section: utils
Priority: optional
Architecture: all
Maintainer: SantigBenites
Description: Simple Flask web service that shows whether your Linux session is locked
Depends: python3, python3-venv, systemd
